body {
  background: #f2f2f2;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center; }

.container {
  margin: auto;
  width: 400px;
  height: auto;
  border-radius: 6px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.45);
  background: #fff;
  margin-top: 5em; }

.container .card-photo {
  height: auto; }

.container .card-photo .image {
  max-width: 100%;
  border-radius: 6px; }

.container .description {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  margin-right: 1em;
  border-bottom: #f2f2f2 solid 1px; }

.container .description .misc {
  display: flex;
  justify-content: space-between; }

.container .description .star, .container .description .location {
  display: flex;
  align-items: center; }

.container .description .star .icon, .container .description .location .icon {
  display: block;
  height: 24px;
  width: 24px; }

.container .button-set {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  padding-bottom: 1em; }

.container .button-set .button {
  border: #f2f2f2 solid 2px;
  border-radius: 50%;
  padding: 1em;
  height: 48px;
  width: 48px; }
