@import '_variables.scss';

body {
  font-family: $font;
}

.app {
  display: flex;
}

.container {
  margin:auto;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 500px;
  height: 500px;
  border-right: 2px solid grey;
  border-bottom: 2px solid grey;
  border:5px 5px 5px 2px solid rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.description {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 2em;

  .descSet {
    display: flex;
  }
}
